pandas==2.2.1
selenium==4.18.1
undetected-chromedriver==3.4.6
openpyxl==3.1.0
pydantic==1.10.14
pyyaml==6.0
shapely==2.0.1
geopandas==0.14.3
sqlalchemy==2.0
alembic==1.10.2
geoalchemy2==0.13.1
psycopg2-binary==2.9.6
dependency-injector==4.41.0
dependency_injection==1.2.0
requests==2.31
gql==3.4.0
requests-toolbelt==1.0
slack-sdk==3.21.3
folium==0.14.0
matplotlib==3.8.0
geopy==2.4.0
streamlit==1.27.2
streamlit-folium==0.15.0
python-dotenv==1.0.0